@page
@model LearnEnglish.Pages.DictionaryModel

@*<!DOCTYPE html>
<html lang="en">*@
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/root-style.css">
    <link rel="stylesheet" href="~/css/dictionary-style.css">
    <link rel="stylesheet" href="~/css/ResetBasedStyles.css">
    <title>Dictionary</title>
</head>
<body>
    @*<div id="wrapper">*@
        <!-- //header -->

        <div class="main-dictionary-panel">
            <div class="container">
                <div class="main-dictionary-panel__body">
                    <div class="header">
                        <div class="header__row">
                            <form method="post" target="_self">
                                <input name="word" class="textbox" type="text" placeholder="Find word">
                                <input class="btn" type="submit" value="Find">
                                <input class="btn blue" type="submit" value="Add word">
                                @*<a href="#" class="btn green">Look at all</a>*@
                            </form>
                        </div>
                    </div>

                    <div class="word-information">
                        @if (!string.IsNullOrWhiteSpace(@Model.inputWord))
                        {
                            <h3 class="title">Вы хотите добавить новое слово в словарь (@Model.inputWord)?</h3>
                        }
                        @if (@Model.word != null)
                        {
                            <div class="word__translate">
                                <h3 class="title">Translate</h3>
                                <div class="translate__row">
                                    <p class="text">@Model.word.Value    →    @Model.word.Translate</p>
                                </div>
                            </div>
                            <div class="word__transcription">
                                <p class="text">Model.word.Transcription</p>
                            </div>
                            <div class="word__examples">
                                @*<h3 class="title">Examples</h3>
                <ul>
                    <li><div class="example">The first example</div></li>
                    <li><div class="example">The second example</div></li>
                    <li><div class="example">The third example</div></li>
                </ul>*@
                            </div>
                        }
                        else
                        {
                            <h3 class="title">Select word</h3>
                        }
                    </div>
                </div>
            </div>
        </div>
    @*</div>*@
</body>
@*</html>*@